@using DominioWebApp.Enumerations
@using DominioWebApp.DTOs
@model IEnumerable<DominioWebApp.DTOs.PagoDTO>

@{
    ViewData["Title"] = "Index";
}

@if(!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}


<h1>Pagos</h1>

<h3>Filtrar Pagos por Fecha</h3>

<p>
    <a asp-action="AltaPago">Create New</a>
</p>

<form method="post">
    <select name="mes">
        <option value="0"> Seleccione el mes </option>
        @foreach (Mes mes in Enum.GetValues(typeof(Mes)))
        {
            <option value="@((int)mes)">@mes</option>
        }
    </select>
    <select name="anio">
        <option value="0"> Seleccione el año </option>
        @for (int i = DateTime.Now.Year; i >= 1900; i--)
        {
            <option value="@i">@i</option>
        }

    </select>

    <input type="submit" value="Filtrar" />
</form>

@if (Model.Count() == 0)
{
    <div class="alert alert-warning">No hay Pagos registrados</div>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoPago)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MontoTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SaldoPendiente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hasta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumRecibo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (PagoDTO item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoPago)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MontoTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SaldoPendiente)
                    </td>
                    <td>
                        @item.Fecha.ToShortDateString()
                    </td>
                    @if (item.TipoPago == "Recurrente")
                    {
                        
                        <td>
                            @item.Hasta.Value.ToShortDateString()
                        </td>
                        <td>-</td>
                    }
                    else if (item.TipoPago == "Unico")
                    {
                        <td>-</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumRecibo)
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

}
