@using DominioWebApp.DTOs
@model IEnumerable<DominioWebApp.DTOs.PagoDTO>

@if (Model.Count() == 0)
{
    <div class="alert alert-warning">No tiene pagos registrados</div>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoPago)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoGasto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MontoTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SaldoPendiente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hasta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumRecibo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (PagoDTO item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoPago)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoGasto.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MontoTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SaldoPendiente)
                    </td>
                    <td>
                        @item.Fecha.ToShortDateString()
                    </td>
                    @if (item.TipoPago == "Recurrente")
                    {
                        
                        <td>
                            @item.Hasta.Value.ToShortDateString()
                        </td>
                        <td>-</td>
                    }
                    else if (item.TipoPago == "Unico")
                    {
                        <td>-</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumRecibo)
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

}
